.app-header{
    height: 40vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem 0rem 5rem 0rem;
}
.app-body{
    height: 40vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}